body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}

.grid {
    border-bottom: 1px solid #777777;
}

.grid__row {
    width: 100vw;
    height: 40px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: stretch;
    align-items: stretch;
}

.grid__row:nth-child(odd) {
    background-color: #f7f7f7;
}

.grid__row__header {
    background-color: #f7f7f7;
    text-transform: uppercase;
    border-bottom: 1px solid #777777;
    min-height: 30px;
}

.grid__row__column {
    color: black;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid__row__column--green {
    color: #4CAF50;
    background-color: #E8F5E9;
}

.grid__row__column--red {
    color: #F44336;
    background-color: #FFEBEE;
}

canvas.graph {
    display: block;
    margin: 30px auto;
}

@media (max-width: 900px) {
    .grid__row {
        grid-template-columns: repeat(5, 1fr);
    }

    .grid__row__column:nth-of-type(2) {
        display: none;
    }
}
